.wrapper {
  position: relative;
  width: 100%;
  margin: 0 0 20px;
}

.label {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-size-m);
  line-height: 1.36;
  color: var(--black);
  margin-bottom: 8px;
}

.inputWrapper {
  display: flex;
  background-color: var(--gray-light);
  width: 100%;
  border-radius: 8px;
}

.input {
  font-size: var(--font-size-m);
  background-color: transparent;
  border: none;
  padding: 12px 8px 12px 16px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    .inputWrapper {
      outline: 1px solid var(--violet);
    }
  }
}

.input[disabled] {
  opacity: 0.5;
}

.error {
  position: absolute;
  bottom: -28px;
  color: var(--red);
  font-size: var(--font-size-s);
}

.showPassword {
  border: none;
  background-color: transparent;
  padding: 0 12px;
  margin: 0;
  cursor: pointer;
}
